/*
Color Palette
background color: #1B262C
primary: #0F4C75 
secondary: #3282B8
tertiary: #BBE1FA
accent: #9277AC
vegasGold: #c5b358
white: #fff
black: #000  
*/

html {
    /* If we add any padding or border onto an element it does not effect the width of the element */
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif;
    font-weight: 300;
    background-color: #0F4C75;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.heroImage {
    padding: 2rem;
}

.heroImage img {
    border-radius: 6rem;
    box-shadow: 8px 8px 4px #000;
    width: 100%;
    height: auto;
}

.heroText {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    text-align: center;
    letter-spacing: 5px;
}

.heroName {
    color: #BBE1FA;
    font-family: 'Patrick Hand', cursive;
    font-size: 4rem;
    text-transform: uppercase;
}

.heroTextTop {
    padding: 0.5rem;
}

.heroTextBottom {
    padding: 0.5rem;
}

.heroButton {
    margin: 2rem;
}

.button {
    background-color: #fff;
    padding: 1rem;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #1B262C;
    text-decoration: none;
    box-shadow: 8px 8px 4px #000;
}

.button:hover {
    background-color: #3282B8;
    color: #fff;
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.projectsHeader {
    margin: 1.5rem 3rem;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 4px;
}

.projectCard {
    background-color: #fff;
    color: #1B262C;
    margin: 4rem 3rem;
    padding: 0.5rem 2rem;
    text-align: center;
    border: 1px solid #9277AC;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #000;
}

.projectCard img {
    width: 100%;
    height: auto;
    border-radius: 3rem;
    margin: 1rem 0;
}

.projectCard h2 {
    margin: 0.5rem 1rem 2.5rem 1rem;
    font-weight: 600;
}

.projectCard p {
    font-size: 1rem;
    font-weight: 400;
}

.projectIcons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.projectIcons p {
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
}

.fa-github {
    font-size: 2.2rem;
    padding: 1.5rem;
}

.fa-file {
    font-size: 2.2rem;
    padding: 1.5rem;
}

footer {
    text-align: center;
    color: #fff;
    margin: 10rem 0;
    border-top: 1px solid #BBE1FA;
}

.copyright {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    display: block;
}

.filler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5;
    height: 80vh;
}

.heroButton:hover {
    transform: scale(1.1);
}

.heroImage img:hover {
    transform: scale(1.1);
}

.aboutMe {
    background-color: #BBE1FA;
    color: #1B262C;
    margin: 3rem 4rem;
    padding: 0.5rem 2rem;
    text-align: center;
    border: 1px solid #9277AC;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #000;
    font-size: 1rem;
}

.aboutMe img {
    border-radius: 2rem;
    box-shadow: 8px 8px 4px #3282B8;
    width: 100%;
    height: auto;
}

.aboutMe img:hover {
    transition: .3s ease-in-out;
    transform: scale(1.1);
}





@media (min-width: 800px) {
    .hero {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
    }
    
    .heroText {
        font-size: 1rem;
    }
    
    .heroName {
        font-size: 3.5rem;
    }
    
    .button {
        font-size: 1.1rem;
    }
    
    .projectGallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .projectCard {
        max-width: 20%;
    }
    
    .aboutMe {
        font-size: 1.5rem;
    }
    
    .aboutMe img {
        border-radius: 2rem;
        width: 60%;
        height: auto;
        margin: 2rem;
    }
}